body {
  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
}

header {
  background-color: #b7d5d4;
  padding: 10px;
  text-align: center;
  margin: 40px 100px 20px 100px;
  border-radius: 5px;
}

main {
  padding: 20px 100px;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.card-section {
  background-color: #b7d5d4;
  padding: 20px 40px 40px 40px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-section h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.list-scroller {
  height: 500px;
  overflow-y: scroll;
  border-radius: 5px;
}

.list-scroller::-webkit-scrollbar {
  display: none;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  height: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: height 0.3s ease-in-out;
}

.card:hover {
  height: auto;
  overflow: visible;
  transition: height 0.3s ease-in-out;
}

.card div {
  font-family: "JetBrains Mono", monospace;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  font-weight: 600;
}

.card div:last-child {
  margin-bottom: 0;
}

.card div:first-child {
  font-family: poppins, sans-serif;
}

.chart {
  background-color: #b7d5d4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

canvas {
  max-width: 100%;
}

.card-head,
.card-head strong {
  display: flex;
  align-items: center;
}

.card-head > strong > img {
  margin-right: 10px;
}

.coin-rank {
  margin-left: 10px;
  border: 2px solid black;
  padding: 0px 5px;
  border-radius: 5px;
  font-size: 14px;
  min-width: 20px;
  text-align: center;
}

.card-head {
  margin-bottom: 30px !important;
}

.card-section > h2 > span {
  margin-left: 10px;
  border: 3px solid black;
  padding: 0px 5px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  min-height: 20px;
  min-width: 10px;
}

.coin-name {
  text-align: right;
}